<?xml version="1.0" encoding="UTF-8"?>

<plugin id="edit-configurations-plugin" version="0.1" xmlns="http://www.phonegap.com/ns/plugins/1.0">

    <name>edit-configurations-plugin</name>
    <description>Cordova Plugin to add specific configurations to Android's Manifest.xml and Apple's Info.plist</description>
    <license>MIT</license>
    <keywords>cordova,configurations,ios,android,manifest,plist</keywords>

    <config-file platform="ios" target="*-Info.plist" parent="CFBundleDevelopmentRegion">  
        <string>nl</string>
    </config-file> 

</plugin>
